---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";
import Button from "../shared/Button.astro";

type ServicesProps = {
  title: string;
  features: string[];
  icon?: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  id="services"
  class={`relative dark:bg-gradient-to-br dark:from-indigo-800 dark:to-green-950 ${className}`}
>
  <!-- ... (pozostała zawartość sekcji) -->

  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title className="">Nasza Oferta</Title>
    </div>

    <div class="flex justify-center">
      <Button variant="primary" className="mt-1">
        <a
          href="/gallery"
          class="relative z-10 text-white font-bold"
          data-track-button="services_section"
          data-clicked-in="page"
        >
          Zobacz Galerię
        </a>
      </Button>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {services.map((service: ServicesProps) => (
        <Service
          title={service.title}
          features={service.features}
          icon={service.icon}
        />
      ))}
    </div>
  </Container>


</section>
