---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

// Get all images from assets/images/huts directory
const images = await Astro.glob('../../src/assets/images/huts/*')
---
<Layout title="">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-heading-1 mb-8">Galeria</h1>
    
    <div
    class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
  >
      {images.map((image) => {
        console.log({image})
        if(image){
        return(
          <Image
            src={image.default}
            alt="Zdjęcie budy dla psa"
            quality={50}
class="rounded-sm mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
            loading="lazy"
          />

      )}})}
    </div>
  </main>
</Layout>
