---
import Layout from '../layouts/Layout.astro';
---



<Layout title="Order">
    <main class="max-w-4xl mx-auto p-4">
        <h1 class="text-3xl font-bold text-heading-1 mb-8">Zamówienie</h1>
        
       
    </main>
</Layout>
F