---
const { children } = Astro.slots;
---

<article
  class="mx-auto max-w-4xl px-6 py-12 text-gray-800 leading-relaxed space-y-6"
>
  <h1 class="text-3xl font-bold mb-8">Polityka prywatności</h1>
  <div class="space-y-4 text-base">
    <slot />
  </div>
</article>
